{% extends 'base.html' %}


{% block content %}

{% include 'dl_app/nav.html' %}
{% load extras %}

<style>
#image{
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/a6/4b/f9/a64bf98ef5652a55fdd6c4ef2e871099.png");
  background-size: cover;
  padding: 120px;
  max-width: 100%;
  height: auto;
    }
</style>
<div id=image>
<h1 >Advanced Search</h1>
<div class="search-container">
   <form method="post">
        {% csrf_token %}
        <div id="container" style="text-align: center;">
  <p id="patentID">
    <input type="text" name="patentID" class="form-control" placeholder="Enter patentID">
  </p>
  <p id="aspect">
    <input type="text" name="aspect" class="form-control" placeholder="Enter aspect">
  </p>
   <p id="aspect">
    <input type="text" name="aspect" class="form-control" placeholder="Enter origreftext">
  </p>

 <p id="aspect">
    <input type="text" name="aspect" class="form-control" placeholder="Enter description">
  </p>
 <p id="aspect">
    <input type="text" name="aspect" class="form-control" placeholder="Enter pid">
  </p>

  <button type="submit" class="btn btn-primary">Search</button>
</div>
    </form>

<!-- Header -->


<div class='pagination-panel'>
    {% if paginator.has_other_pages %}
    <ul class="pagination">
        {% if paginator.number == 1 %}
            <li class="page-item disabled"><span class="page-link">⇤</span></li>
        {% else %}
            <li><a class="page-link" href="?page=1&q1={{ query.q1 }}&q2={{ query.q2 }}">⇤</a></li>
        {% endif %}
        {% if paginator.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ paginator.get_prev_page }}&q1={{ query.q1 }}&q2={{ query.q2 }}">&laquo;</a>
        </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
            {% for i in paginator|paginate_utils:paginator.number %}
                {% if paginator.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link"
                        href="?page={{ i }}&q1={{ query.q1 }}&q2={{ query.q2 }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if paginator.has_next %}
            <li class="page-item"><a class="page-link"
                href="?page={{ paginator.get_next_page }}&q1={{ query.q1 }}&q2={{ query.q2 }}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
        {% if paginator.number == paginator.num_pages %}
            <li class="page-item disabled"><span class="page-link">⇥</span></li>
        {% else %}
            <li><a class="page-link"
                href="?page={{ paginator.num_pages }}&q1={{ query.q1 }}&q2={{ query.q2 }}">⇥</a></li>
        {% endif %}
    </ul>
    <hr>
    {% endif %}
</div>


  {% if users %}

<div class="card-columns">
  {% for x in users %}
  <div class="card">
    <img class="card-img-top" src="/media/{{ x.2 }}" alt="Card image cap" width="60px",height="60px">
    <div class="card-footer">
      <small class="text-muted">{{ x.0 }},{{ x.1 }},{{ x.2 }},{{ x.3 }}</small>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-info" name="save" id="some_value" value="{{ x.2 }}">Save</button>
      <!-- <button type="submit" name="save" id="some_value" value="{{ x.2 }}">Save</button> -->
      </form>
  </div>


{{ x.2|highlight:patentID }}
{{ x.1|highlight:patentID }}
{{ x.0|highlight:patentID }}
{{ x.3|highlight:patentID }}

{{ x.2|highlight:aspect }}
{{ x.1|highlight:aspect }}
{{ x.0|highlight:aspect }}
{{ x.3|highlight:aspect }}
  {% endfor %}
</div>
</div>
  {% else %}
  <p>Please enter a valid search</p>
</div>
{% endif %}
{% endblock %}
