{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% include 'dl_app/nav.html' %}

{% load crispy_forms_tags %}
<!--User-->
<style>
.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<br><br>
<body style="background-image: url('https://i.pinimg.com/originals/a6/4b/f9/a64bf98ef5652a55fdd6c4ef2e871099.png');">
<div class="container mx-auto">
    <div class="text-center">
        <div class="col-lg-16 col-md-16 col-lg-16 pb-4">
            <div class="card p-4" style="background-color: #ffbe42;">
                <h4 class="card-title font-weight-bold text-center"> Hello {{ user.username|title }}</h4>
                <hr>
                <div class="card-text">
                    <h2 class="text-muted mb-0" style="font-size: 18px"><b>Username:</b></h2>
                    <h4>{{ user.username }}</h4>
                    <h2 class="text-muted mb-0" style="font-size: 18px"><b>Email:</b></h2>
                    <h4>{{ user.email }} </h4>
                    <div>
                        <div class="text-center">
                            <submit type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#profileModal" style="font-size: 18px">Update
                                Profile</submit>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="/password_change"><submit type="button" class="btn btn-outline-primary btn-sm" style="font-size: 18px">Change
                                    Password</submit></a>
                        </div>
                    </div>
                </div>
                 <hr>
<div class="header">
        <h1>Saved Search History</h1>
        </div>

 <table>
    <tr>
  <th style="width:30%">Name</th>
  <th style="width:30%">Search value</th>
  <th style="width:15%">Date</th>

</tr>
    {% for x in result %}

<tr>
       <td> {{ x.username }}</td>
       <td>{{ x.search }}</td>
       <td> {{ x.created_at }}</td>
         {% endfor %}
</tr>
</table>
<hr>
        <!-- <h1>History</h1> -->
        <div class="header">
        <h1>Saved Image History</h1>
        </div>
        </div>
 
            {% for x in search %}
             {% if x.search == None %}
             <p></p>
             <div class="row">
             {% else %}
            <div class="column">
                <p><img src="/media/{{ x.search }}" style="width:100%"></p>
                <b><h3><a href="/imgdetails/?imgitem={{ x.search }}">Click here to see the Image details</a></h3></b>
                 <form method="post" action="">
                  {% csrf_token %}
                <button value="{{ x.search }}" name="image" >Delete from favorite</button>
                </form>

                <!-- <form method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-info" name="del" id="some_value" value="{{ x.search }}">delete</button>
              </form> -->
            </div>
            {% endif %}
        </div>
         {% endfor %}


    <!--           {% for x in search %}
        <div class="card-columns">
        {%if x.search != None %}
            <div class="card">
<img style="text-align: center;height: 70px;width: 70px"class="card-img-top" src="/media/{{ x.search }}" alt="Card image cap" width="5px",height="10px">
</div>
</div>
{% endif %}

  {% endfor %}
</div>
    </div>
    </div>

<!--Edit user modal-->
<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center">
                <h5 class="modal-title">Update Profile</h5>
                <div class="text-right">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                <div class="form-group col-lg-16 mb-0">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-lg-16 mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}