{% extends 'base.html' %}


{% block content %}


{% load crispy_forms_tags %}


<style>
  body { 
  background-image: url("https://i.pinimg.com/originals/a6/4b/f9/a64bf98ef5652a55fdd6c4ef2e871099.png");
}
</style>
<body>
<div class="content-section col-md-8 col-md-offset-2">
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey="6LfWoOMZAAAAAD0ZrkoeEf1Ffd7t4IOmS9-eHd6F"></div>
    <center>
      <button style="background: #ffbe42; padding:2%; font-size: 2rem;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp; sign up</button>
    </center>
    <br />
    <sub><a href="{% url 'login' %}" style="text-decoration: none; color: blue; padding:3%; font-size:17px; cursor:pointer;">Already have an account ?</a></sub>
  </form>
</div>
</body>
{% endblock  %}