<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="scripts.js"></script>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="topnav">
  <a href="">Logout</a>
</div>

<h2>Search your books</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for book names.." title="search book name">

<ul id="myUL">
  <li><a href="https://www.amazon.com/gp/product/B017KNJZH8/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B017KNJZH8&linkCode=as2&tag=jamesclear-20&linkId=NAP63RQQRZ4UTAIG">Don Quixote</a></li>
  <li><a href="https://www.amazon.com/gp/product/B004EHZXVQ/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=jamesclear-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B004EHZXVQ&linkId=bbf8d95484e25818935c562aa0f72dde">A Tale of Two Cities</a></li>
  <li><a href="https://www.amazon.com/gp/product/B007978OY6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B007978OY6&linkCode=as2&tag=jamesclear-20&linkId=YMTRXSPQQASAZZDF">The Lord of the Rings</a></li>
  <li><a href="https://www.amazon.com/gp/product/B008QYT7DI/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B008QYT7DI&linkCode=as2&tag=jamesclear-20&linkId=7DPYSXGF442PSIYA">The Little Prince</a></li>
  <li><a href="https://www.amazon.com/gp/product/B0192CTMYG/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=jamesclear-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0192CTMYG&linkId=91f25e1086107069f2731e933b0f1c1e">Harry Potter and the Sorcerer Stone</a></li>
  <li><a href="https://www.amazon.com/gp/product/B000FC1RCI/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000FC1RCI&linkCode=as2&tag=jamesclear-20&linkId=HLLU4ZTLUZJEHVVK">And Then There Were None</a></li>
  <li><a href="https://www.amazon.com/gp/product/B01C9QBKT2/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=jamesclear-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01C9QBKT2&linkId=403b957cd5f9fb40af44a598626c3281">The Dream of the Red Chamber</a></li>
  <li></li>
</ul>

</body>
</html>