{% extends 'base.html' %}


{% block content %}

<style>
	body { 
  background-image: url("https://i.pinimg.com/originals/a6/4b/f9/a64bf98ef5652a55fdd6c4ef2e871099.png");
  padding: 80px;
}
</style>
<body>
<div class="container">
  <div style="text-align: center;">
<div style="display: inline-block; text-align: left;">
	<div class="d-flex flex-column">
		<h2 class="m-auto">Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</h2>
	</div>
</div>
</div>
</div>
</body>
{% endblock %}